<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer_col">
                <div class="footer_column footer_contact">
                    <div class="logo_container">
                        <div class="logo"><a href="#">My Company</a></div>
                    </div>
                    <div class="footer_title">{{ 'Got Question? Call Us 24/7' | trans }}</div>
                    <div class="footer_phone">+38 067 910 2220</div>
                    <div class="footer_contact_text">
                        <p>{{ 'Kharkiv' | trans}}</p>
                        <p>{{ 'Ukraine' | trans}}</p>
                    </div>
                    <div class="footer_social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 offset-lg-2">
                <div class="footer_column">
                    <div class="footer_title">{{ 'Find it Fast' | trans}}</div>
                    <ul class="footer_list">

                        {% for category in categories %}
                            {% if category.enableChildren %}
                                <li class="hassubs">
                                    {% for childcategory in category.children %}
                                        <li><a href="{{ path('category_show', {'id' : childcategory.id}) }}">{{ childcategory.defaultname }}</a></li>
                                    {% endfor %}

                                </li>
                            {% else %}
                                <li><a href="{{ path('category_show', {'id' : category.id}) }}">{{ category.defaultname }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
<!--
            <div class="col-lg-2">
                <div class="footer_column">
                    <ul class="footer_list footer_list_2">
                        <li><a href="#">Video Games & Consoles</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Cameras & Photos</a></li>
                        <li><a href="#">Hardware</a></li>
                        <li><a href="#">Computers & Laptops</a></li>
                    </ul>
                </div>
            </div>
-->
            <div class="col-lg-2">
                <div class="footer_column">
                    <div class="footer_title">{{ 'Customer Care' | trans}}</div>
                    <ul class="footer_list">
                        <li><a href="#">{{'My Account' | trans}}</a></li>
                        <li><a href="#">{{'Order Tracking' | trans}}</a></li>
                        <li><a href="#">{{'Wish List' | trans}}</a></li>
                        <li><a href="#">{{'Customer Services' | trans}}</a></li>
                        <li><a href="#">{{'Returns / Exchange' | trans}}</a></li>
                        <li><a href="#">{{'FAQs' | trans}}</a></li>
                        <li><a href="#">{{'Product Support' | trans}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
