<div class = "top_menu">
	<img src="/images/phone.png" alt="">+38 067 910 2220
	<img src="/images/mail.png" alt=""><a href="mailto:fastsales@gmail.com">MaksymIKononenko@gmail.com</a>
	
	<select id = "language">
		<option selected = "selected">{{ app.request.locale | upper}}</option>
		{% for locale in locales if (locale != app.request.locale)%}
				<option value = "{{ path(app.request.attributes.get('_route'), app.request.get('_route_params')|merge({_locale: locale})) }}"> {{ locale | upper}}</option>
		{% endfor %}
	</select>
	
	<select id = "money">
		<option>{{ '$ US dollar' | trans }}</option>
		<option>{{ 'EUR Euro' | trans}}</option>
		<option>{{ 'UAH' | trans}}</option>
	</select>
	
	<img src="/images/user.svg" alt="" widht = 30px>
	{% if app.user %}
		<a href="/logout">{{ 'Log Out' | trans}}</a>
	{% else %}
		<a href="/register">{{ 'Register' | trans }}</a>
		<a href="/login">{{ 'Sign in' | trans}}</a>
	{% endif %}
</div>

<div class = "top_menu">
	<img src="/images/heart.png" alt="">
	{{wishListCount}}
</div>

<div class = "top_menu">
	<img src="/images/cart.png" alt="">
	{{cartCount}}
</div>
